<div class="login-form-ctn d-flex col">
  <%= form_with(model: movement, url: "/groups/#{@group.id}/movements",
html: {class: 'form-login d-flex col'}) do |form| %>
    <% if movement.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(movement.errors.count, "error") %> prohibited this movement from being saved:</h2>
        <ul>
          <% movement.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="main-fields">
      <div class="field">
        <%= form.text_field :name, placeholder: 'Name' %>
      </div>
      <div class="field">
        <%= form.number_field :amount, placeholder: 'Amount in $' %>
      </div>
    </div>
    <div class="form-icons-ctn d-flex col">
      <%= form.label :group, 'Category:', class: 'form-icons-title', style: "display: block" %>
      <div class="icons-list d-flex">
        <%= form.collection_check_boxes(:group_ids, Group.all, :id, :name ) do |b| %>
          <div class="icon-box d-flex col">
            <i class="<%= @icons.values[b.object.icon] %>"></i>
            <%=b.text%>
            <% if b.object.id == @group.id %>
              <%=b.check_box checked: true %>
            <% else %>
              <%=b.check_box %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= form.submit 'SAVE', class: 'form-btn' %>
    </div>
  <% end %>
</div>
