<div class="section-header">
  <h2>SIGN UP</h2>
</div>
<div class="login-form-ctn d-flex col">
  <%= form_for(resource, as: resource_name, html: { class: 'form-login d-flex col'},
url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="main-fields">
      <div class="field">
        <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true, autocomplete: "first-name" %>
      </div>
      <div class="field">
        <%= f.text_field :last_name, placeholder: 'Last Name',  autocomplete: "last-name" %>
      </div>
      <div class="field">
        <%= f.email_field :email, placeholder: 'Email', autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: "Password (#{@minimum_password_length} characters minimum)", autocomplete: "new-password" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', autocomplete: "new-password" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Sign up", class: 'form-btn' %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
<%= link_to 'Home', '/' %>
