<p style="color: green"><%= notice %></p>
<div class="d-flex">
  <i class="<%= @icons.values[@group.icon]%>"></i>
  <p><%= @group.name %> </p>
  <p><%= "Total: $#{@group.movements_total}" %></p>
</div>
<% @group.movements_list.each do |movement| %>
  <p><%= movement.name %> <%= "$#{movement.amount}" %></p>
<% end %>
<div class="cat-btn-ctn">
  <%= link_to "Add new transaction", "/groups/#{@group.id}/movements" %>
  <%= link_to "Edit this category", edit_group_path(@group) %> |
  <%= button_to "Delete this category", @group, method: :delete %>
  <%= link_to "Back", groups_path %>
</div>
