<div class="section-header">
  <h1>TRANSACTIONS</h1>
</div>
<p style="color: green"><%= notice %></p>
<div class="section-transactions d-flex col">
  <div class="tra-info-ctn d-flex col">
    <div class="tra-info-line-1 d-flex">
      <i class="<%= @icons.values[@group.icon]%>"></i>
      <h2><%= @group.name %> </h2>
    </div>
    <hr>
    <div class="tra-info-line-2 d-flex">
      <p>TOTAL: </p>
      <p><%= " $#{@group.movements_total}" %></p>
    </div>
  </div>
  <div class="tra-list-ctn d-flex col">
    <% if @group.movements_list.empty? %>
      <p class="tra-empty-msg"> No transactions yet. Try creating one!</p>
    <% else %>
      <h3>Transactions: </h3>
      <hr>
      <div class="transactions-ctn">
        <% @group.movements_list.each_with_index do |movement, i| %>
          <div class="d-flex">
            <i class="<%= @icons.values[@group.icon]%>"></i>
            <p><%= i + 1 %>.</p>
            <strong>$<%= movement.amount %></strong>
            <p>"<%= movement.name %>"</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="cat-btns-ctn d-flex col">
    <%= link_to "Edit this category", edit_group_path(@group) %>
    <%= button_to "Delete this category", @group, method: :delete %>
    <%= link_to "Back", groups_path %>
  </div>
  <div class="new-tra-btn">
    <%= link_to "ADD NEW TRANSACTION", "/groups/#{@group.id}/movements" %>
  </div>
</div>
