<div class="section-header">
  <h2>LOGIN</h2>
</div>
<div class="login-form-ctn d-flex col">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name),
  html: {class: 'form-login d-flex col'}) do |f| %>
  <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
    <div class="main-fields">
      <div class="field">
        <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password" %>
      </div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="remember-line d-flex">
        <%= f.label :remember_me, 'Remember me', class: 'remember-label' %>
        <%= f.check_box :remember_me, class: 'remember-cb' %>
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit "LOG IN", class: 'form-button' %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
<%= link_to 'Back', '/' %>
