<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="body-ctn">
      <header>
      </header>
      <%= yield %>
    </div>
    <footer>
      <% if user_signed_in? %>
        <%= "Logged as #{current_user.first_name}"%>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% end %>
    </footer>
  </body>
</html>
